{% extends 'app/base.html' %}
{% load static  %}
{% block title %}User login{% endblock  %}

{% block main-content %}
    <div class='container'>
        <div class='row my-3'>
            <div class='col-sm-6 offset-sm-3'>
                <h3> Password Reset Completed</h3>
                <hr>
                <div>
                    <iframe src='https://giphy.com/embed/ibolLe3mOqHE3PQttk' width='200' height='200' frameBorder='0' class='giphy-embed' allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content%}