{% extends 'app/base.html' %}
{% load static  %}
{% block title %}Category{% endblock  %}

{% block main-content%}
    <div class='container'>
        <div class='row flex justify-content-between' >
            <img src={{product.product_image.url}} width:100px height:75px class='image col-xs-6 col-sm-8 col-lg-6 mt-3 text-sm-center ' alt=''>
        </div>
        <div class='productdetail col-lg-5' >
            <h1 style='font-family: Georgia; font-size: 50px;'>{{product.title}}</h1>
            <h5>Rs.{{product.discounted_price}}/-</h5>
            <small class='fw-light text-decoration-line-through'><del>{{product.selling_price}}/-</del></small>
            <br><h4>Product Features</h4>
            <ul class='fs-5'  style='font-family:Rajdhani;'>
                <li>{{product.description}}</li>
            </ul>
            
            <form action='/add_to_cart' class='d-inline'>
                <input type='' name='prod_id' value={{product.id}}/>
                <h4>Product id{{product.id}}</h4> 
                <button type='submit' class='btn btn-primary shadow px-5 py-2'>Add to Cart</button>
           </form>
           <a href={% url 'showcart' %} class='btn btn-warning shadow px-5 py-2 ms-4'>Buy Now</a>
            
        </div>
    </div>
{% endblock main-content%}